*{
    margin: 0;
    padding: 0;
}
.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.user h2{
    text-align: center;
    color: darkgreen;
}
.input{
    width: 60%;
    margin-top: 20px;
}
.btn{
    margin-top: 20px;
    float: right;
    margin-left: 20px;
}
.datauser{
    width: 60%;
}